<!DOCTYPE html>
<html>
<head>
    <title>Search BCI abbreviations</title>
</head>
<body>
    <h1>BCI abbreviation search</h1>
    <form method="POST" action="/abbrevations">
    <label for="abbreviation">Enter abbreviation:</label>
    <input type="text" id="abbreviation" name="abbreviation" required>
    <button type="submit">Search</button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% if abbreviation %}
    <p>Abbreviation: {{ abbreviation }}</p>
    <p>Explanation: {{ explanation }}</p>
    {% endif %}

<p>{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
        <strong><div class="alert alert-{{ message[1] }}">{{ message }}</div></strong>
          {% endfor %}
        </div>
      {% endif %}
{% endwith %}
</p>


<nav>
    <ul>
        <li><a href="/welcome">Back to menu</a></li>
    </ul>
</nav>

</body>
</html>