{% if session.username %}
<p>You are signed in as {{ session.username }}</p>
<nav>
    <ul>
        <li><a href="/welcome">Menu</a></li>
        <li><a href="/logout">Sign out</a></li>
    </ul>
</nav>


{% else %}
<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Sign in">
</form>
{% endif %}

<p>Click "Register a new user" button to create account</p> 
<form action="/register" method="GET">
<input type="submit" value="Register a new user">
</form>