<!DOCTYPE html>
<html>
<head>
    <title>Search BCI literature</title>
</head>
<body>
    <!-- Search Form -->
    <h2>Search BCI literature</h2>
    <form method="POST" action="/searchbooks">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Enter word or part of word">
        <br>

        <label for="author">Author:</label>
        <input type="text" id="author" name="author" placeholder="Enter word or part of word">
        <br>

        <label for="keywords">Keywords:</label>
        <input type="text" id="keywords" name="keywords" placeholder="Enter word or part of word">
        <br>

        <label for="rating">Rating:</label>
        <input type="text" id="rating" name="rating" placeholder="Enter number 1-5">
        <br>

        <label for="availability">Availability:</label>
        <input type="text" id="availability" name="availability"  placeholder="Enter word or part of word">
        <br>

        <button type="submit">Search</button>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> 
    </form>

    <!-- Add Literature Form -->
    <form method="POST" action="/literature">
        <h2>Add BCI literature</h2>
        <input type="text" name="title" placeholder="Title" required><br>
        <input type="text" name="author" placeholder="Author" required><br>
        <input type="text" name="keywords" placeholder="keyword1, keyword2" required><br>
        <input type="text" name="rating" placeholder="Rating" required><br>
        <input type="text" name="availability" placeholder="Availability" required><br>
        <button type="submit">Add</button>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> 
    </form>

    <p>{% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
            <strong><div class="alert alert-{{ message[1] }}">{{ message }}</div></strong>
              {% endfor %}
            </div>
          {% endif %}
    {% endwith %}
    </p>

     <!-- Display Literature Results -->
    
     {% if results %}
     <h2>Results</h2>
     <ul>
         {% for item in results %}
             <li>
                 <strong>Title:</strong> {{ item.title }}<br>
                 <strong>Author:</strong> {{ item.author }}<br>
                 <strong>Keywords:</strong> {{ item.keywords }}<br>
                 <strong>Rating:</strong> {{ item.rating }}<br>
                 <strong>Availability:</strong> {{ item.availability }}<br>
             </li>
         {% endfor %}
     </ul>
     {% endif %}

<nav>
    <ul>
        <li><a href="/welcome">Back to menu</a></li>
    </ul>
</nav>     

</body>
</html>