<!DOCTYPE html>
<html>
<head>
    <title>BCI stakeholders</title>
</head>
<body>
    <!-- Search Form -->
    <h2>Search BCI stakeholder</h2>
    <form method="POST" action="/searchstakeholders">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter word or part of word or leave blank" size="50">
        <br>

        <label for="type">Type:</label>
        <input type="text" id="type" name="type" placeholder="Enter word or part of word or leave blank" size="50">
        <br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" placeholder="Enter word or part of word or leave blank" size="50">
        <br>

        <label for="contact">Contact:</label>
        <input type="text" id="contact" name="contact" placeholder="Enter word or part of word or leave blank" size="50">
        <br>

        <button type="submit">Search</button>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>

    <!-- Add Stakeholder Form -->
    <form method="POST" action="/stakeholders">
        <h2>Add BCI stakeholder</h2>
        <input type="text" name="name" placeholder="Write stakeholder name" required size="50"><br>
        <input type="text" name="type" placeholder="Write suitable type: Company/Non-profit/NGO/Government" required size="55"><br>
        <input type="text" name="description" placeholder="Write description e.g. company description" required size="50"><br>
        <input type="text" name="contact" placeholder="Write contact details e.g. web-page" required size="50"><br>
        <button type="submit">Add</button>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>

    <!-- Display if Stakeholder addtion succesful -->
    <p>{% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
            <strong><div class="alert alert-{{ message[1] }}">{{ message }}</div></strong>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    </p> 
    
    <!-- Display Literature Results -->
    
     {% if results %}
     <h2>Results</h2>
     <ul>
         {% for item in results %}
             <li>
                 <strong>Name:</strong> {{ item.name }}<br>
                 <strong>Type:</strong> {{ item.type }}<br>
                 <strong>Description:</strong> {{ item.description }}<br>
                 <strong>Contact:</strong> {{ item.contact }}<br>
             </li>
         {% endfor %}
     </ul>
     {% endif %}


<nav>
    <ul>
        <li><a href="/welcome">Back to menu</a></li>
    </ul>
</nav>

</body>
</html>
